@page
@model FreePortSoccer.Pages.NewArticle.CreateModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="News.Title" class="control-label"></label>
                <input asp-for="News.Title" class="form-control" />
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Article" class="control-label"></label>

                <textarea asp-for="News.Article" class="form-control"></textarea>
                <span asp-validation-for="News.Article" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Author" class="control-label"></label>
                <input asp-for="News.Author" class="form-control" />
                <span asp-validation-for="News.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.InsertedDate" class="control-label"></label>
                <input asp-for="News.InsertedDate" class="form-control" />
                <span asp-validation-for="News.InsertedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.ModifiedDate" class="control-label"></label>
                <input asp-for="News.ModifiedDate" class="form-control" />
                <span asp-validation-for="News.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="News.IsHighLights" /> @Html.DisplayNameFor(model => model.News.IsHighLights)
                </label>
            </div>     
            <div class="form-group">
                <label asp-for="News.Image" class="control-label"></label>
                <div class="col-md-10">
                    <input type="file" asp-for="Image" />
                </div>
                <span asp-validation-for="News.Image" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
